@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --bg: #09151F;
    --txt: #fff;
    --hl: #C683DA;
    --hl2: yellow;
}

*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#logo {
    pointer-events: none;
    display: block;
    width: 40rem;
    max-width: 80vw;
    margin: auto;
}

#location {
    margin-top: 4rem;
    display: inline-block;
}

#counter {
    color: lightgray;
}

.flag {
    height: 0.75em;
    width: auto;
    margin-right: 0.5rem;
    border-radius: 2px;
    pointer-events: none;
}

#attendeePicture {
    position: absolute;
    left: 0;
    top: 0;
    width: 15rem;
    pointer-events: none;
    box-shadow: 10px 10px 0px 0px var(--hl);
    z-index: 10;
}

#location:hover {
    color: var(--hl2);
    text-decoration: underline;
}

body,html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    background-color: var(--bg);
    color: var(--txt);
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.content-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

#attendants {
    list-style: none;
    z-index: 11;
    position: relative;
    line-height: 1.5em;
    max-width: 35rem;
    margin: 2rem auto 0 auto;
}

#attendants li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

#attendants li span {
    pointer-events: none;
}

#attendants li[data-picture]:hover span {
    text-decoration: underline;
}

#attendants li:not(:last-child)::after {
    content: '×';
    margin: 0 0.75rem;
    font-size: 1em;
    color: var(--hl);
    font-style: normal !important;
}

h1, h2, h3, h4, h5 {
    margin: 0.5rem 0;
}

a, a:link, a:visited {
    color: var(--txt);
    text-decoration: none;
}

iframe {
    width: 100vw;
    height: 100vh;
}